.acadia-bg {
    border: 2px solid blue;
    z-index: -1;
}

.acadiahero {
    max-height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.acadia-desc {
    font-size: 1.25vw;
}

.headertype1 {
    font-size: 3.5vw;
    -webkit-text-stroke: 2px blue;
    font-family: 'Tilt Neon', sans-serif;
}

.headertype2 {
    font-size: 2.5vw;
    -webkit-text-stroke: 2px blue;
    font-family: 'Tilt Neon', sans-serif;
}

body {
    font-family: 'Tilt Neon', sans-serif;
}